:root {
    --bgcolor: #ffffff;
    --textcolor: #000000;
    --gradienttop: #ffffff;
    --gradientbottom: #ffffff;
}

body {
    margin: 20px;
    background: var(--bgcolor);
    color: var(--textcolor);
    background-image: linear-gradient(var(--gradienttop), var(--gradientbottom));
}

table {
    background: var(--bgcolor);
}

input {
    background: var(--bgcolor);
    color: var(--textcolor);
}

input:hover {
    background: var(--bgcolor);
    color: var(--textcolor);
}

input:active {
    background: var(--bgcolor);
    color: var(--textcolor);
}

select {
    background: var(--bgcolor) !important;
    color: var(--textcolor) !important;
}

label {
    background: var(--bgcolor);
    color: var(--textcolor);
}

th {
    background: var(--bgcolor) !important;
    color: var(--textcolor) !important;
}

button {
    background: var(--bgcolor);
    color: var(--textcolor);
}